.homeContainer {
  display: flex;
  flex-direction: column;
  height: 90%;
}


@media screen and (max-width: 740px) {

  .userSection {
    border: 1px solid black;
    height: 100px;
    width: 100%;
    padding: 10px;
  }
}
