.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loginForm {
  border-radius: 1px solid blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  margin: 10px;
}

.error {
  color: red;
  border: 1px solid gray;
  border-radius: 10px;
}

.submitLogin {
  background-color: blue;
  border-radius: 2px;
}
